name: scrape
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 0,2,4,6'
jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Check out this repo
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Installed package list
        run: apt list --installed
      - name: Remove Chrome
        run: sudo apt purge google-chrome-stable
      - name: Remove default Chromium
        run: sudo apt purge chromium-browser
      - name: Install a new Chromium
        run: sudo apt install -y chromium-browser=126
      - name: Install all necessary packages
        run: pip install requests beautifulsoup4 pandas webdriver-manager selenium
      - name: Run the scraping script
        run: python scraper.py

      - name: Commit files
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          git config --global user.email "baoliaogeming2020@protonmail.com"
          git config --global user.name "baoliaogeming2020"
          git add .
          git commit -m "Create new file"
      - name: Push changes
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
